 @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Montserrat&display=swap');

body{
background: hsla(0, 0%, 96%, 0.748);
line-height: 1.5;
word-spacing: normal;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Barlow Condensed', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: justify;
}

/* header  and Navbar*/
.header {
  background: url("images/KT2.jpg") center/cover fixed no-repeat;
  width: 100%;
  display: block;
  max-height: 800px;
  height: 400px;
  position: relative;
  top: 0;
  right: 0;
  transform: translateY(70px);
}

.navbar{
  background-color: rgba(252, 252, 252, 0.466);
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}

.logoImg{
  border-radius: 50%;
  transform: translateY(10px);
}

.parentContainer{
  position: relative;
  overflow: hidden;
}

.mask {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
}

.banner{
 position: relative;
 overflow: hidden;
 bottom: 0;
 left: 0;
 transform: translateY(100px);
}
/* end header  and Navbar*/


/* footer */
.footer {
  background: url("images/KT4.jpg") center/cover fixed no-repeat;
  width: 100%;
  height: 750px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(140px);
}

.wordsOver {
  color: white;
  max-width: 100%;
  width: 500px;
  margin-top: 30px;
 
}

.News{
  overflow: hidden;
  
}


.foot{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  
}

.footrow{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  margin-bottom: 25px;
}

.show ::placeholder{
  color: red;
}



.footerIcon{
  font-size: 20px;
}

.changeIconSizeSend{
  font-size: 28px;
}



.year{
  position: absolute;
  bottom: 0;
  color: white;
}
/*end footer */