
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Montserrat&display=swap');

body{
font-family: 'Montserrat', sans-serif;
font-size: 18px;
background-color: rgba(252, 252, 252, 0.466);
letter-spacing: normal;
word-spacing: normal;
line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Barlow Condensed', sans-serif;
}

.header {
  background: url("images/SR3.jpg") center/cover fixed no-repeat;
  width: 100%;
  max-height: 800px;
  height: 700px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.parentContainer{
  position: relative;
  overflow: hidden;
}

nav{
  background: rgba(41, 38, 38, 0.356);
  overflow: hidden !important;
  position: absolute;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.logoImg{
  border-radius: 50%;
  transform: translateY(10px);
}

.mask {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
  transform: translateY(-20%);
}

.mask p {
  padding: 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.show::placeholder{
  color: red;
}

.bi {
  font-size: 40px;
}

.designText{
  text-align: justify;

}


.footer {
  background: url("images/KT4.jpg") center/cover fixed no-repeat;
  width: 100%;
  height: 750px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wordsOver {
  color: white;
  max-width: 100%;
  width: 500px;
  margin-top: 30px;
 
}

.News{
  overflow: hidden;
  
}


.foot{
  /* border: 3px solid yellow; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.footrow{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  margin-bottom: 25px;
}


.changeIconSize{
  font-size: 20px;
}

.changeIconSizeSend{
  font-size: 28px;
}

.year{
  position: absolute;
  bottom: 0;
  color: white;
}

@media (max-width: 767px) {
  .card-title {
    text-align: center;
  }

}
